{% extends "layout.html" %} {% block body %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <div class="p-2"></div>
            <h3>IGC Project not created</h3>
            <p>There was a error during creating your Geodesignhub project, please contact your Geodesignhub administrator with your Geoplanner ID, you can close this window now.</p>
            <div class="alert alert-danger" role="alert">
                <p>{{op.status_code}} - {{op.message}}</p>
            </div>
            
              
        </div>
    </div>

</div>
<!-- /container -->{% endblock %} {% block footer %} 
{% endblock %}