{% extends "layout.html" %} {% block body %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="p-4"></div>
        <div class="col-md-8">
            <h2>Create an IGC Project on Geodesignhub</h2>
            <p class="lead">This form is meant for IGC administrators to help create IGC projects on Geodesignhub. Use this form to create a new project on Geodesignhub using the IGC templates, this is a multi-step process and you will need your Geoplanner Project ID and your Geodesignhub API token.</p>
            {% if op.message %}
            <div class="mb-3">
              <div class="alert alert-{{op.message_type}}" role="alert">
                {{op.message}}
              </div>
            </div>
            {% endif %}
            <form id='projform' class='form-group' action="/" method="post">
              <div class="mb-3">
                <label for="gpl_project_id" class="form-label">Geoplanner Project ID</label>
                <input type="text" class="form-control" id="gpl_project_id" name="gpl_project_id" value="{{op.gpl_project_id}}"placeholder="Paste your Geoplanner project id .." {% if op.flow_state == '2' %}readonly{%endif %}>
              </div>
              <input type='hidden' class='form-control' name='flow_state' id='flow_state' value="{{op.flow_state}}"></input>
              {% if op.flow_state == 'B' %}
               
                <div class="mb-3">
                  <h4>Confirm Study area</h4>
                  <p>The study area data is automatically downloaded from ESRI, you can just confirm that it is your study area</p>
                  <div id="baseMap" style="border: 1px solid #dddddd;width:300px; height:300px"></div>
                </div>
                  <input type='hidden' value='{{op.map_bounds}}' class='form-control' name='map_bounds' id='map_bounds'></input>
                  <input type='hidden' value='{{op.zoom_level}}' class='form-control' name='zoom_level' id='zoom_level'></input>
                  <input type='hidden' value='{{op.map_center}}' class='form-control' name='map_center' id='map_center'></input>
                <div class="mb-3">
                  <label for="gdh_api_token" class="form-label" data-bs-toggle="tooltip" data-bs-placement="top" title="Get your token from Geodesignhub.com">Geodesignhub API Token </label>
                  <input type="text" name="gdh_api_token" class="form-control" id="gdh_api_token" placeholder="e.g. 8btp216igjtsbm8qiehabaolt0m95ad1">
                </div>
                <div class="mb-3">
                  <label for="gdh_project_title" class="form-label">Geodesignhub Project Title</label>
                  <input name="gdh_project_title" type="text" class="form-control" id="gdh_project_title" placeholder="Set a Geodesignhub Project title e.g. Atlanta - Athens Geodesign">
                </div>
                <div class="mb-3">
                  <label for="gdh_project_description" class="form-label">Geodesignhub Project Description</label>
                  <input name="gdh_project_description" type="text" class="form-control" id="gdh_project_description" placeholder="Enter a short description for your project e.g. Alternative futures for Atlanta - Athens region">
                </div>

              {% endif %}
              
              <button type="submit" class="btn btn-primary">{% if op.flow_state == 'A' %}Verify Geoplanner Project{% elif op.flow_state == 'B' %}Create Geodesignhub Project{% endif %}</button>
            </form>
         
        </div>
    </div>

</div>
<!-- /container -->{% endblock %} 

{% block footer %} 

{% endblock %}