{% extends "layout.html" %} {% block body %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <div class="p-2"></div>
            <h3>IGC Project Created</h3>
            <p>A Geodesignhub project has been created and provisioned on your profile, please login to the Geodesignhub platform and invite others, you can close this window now.</p>
            
              
        </div>
    </div>

</div>
<!-- /container -->{% endblock %} {% block footer %} 
{% endblock %}